h1 {
    font-size: 80px;
    padding-bottom: 20px;
}

h3 {
    font-size: 40px;
}

.headimage {
    display: center, flex;
    /* justify-items: center; */
    /* align-items: center; */
    gap: 0px;
}

.image1 {
    /* width: ; */
    height: 500px;
}

.image2 {
    width: 850px;
    height: 500px;
}

.image3 {
    /* width: ; */
    height: 500px;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(140, 136, 136);
   
}

ul {
    text-align: left;
    align-items: left;
    padding-left: 525px;
    font-size: 23px;
}

ol {
    /* display: flex; */
    text-align: left;
    align-items: left;
    /* list-style-position: inside; */
    padding-left: 525px;
    font-size: 23px;
}

.tablesinarow {
    display: flex;
    justify-content: center;
    gap: 20px;
}

table {
    /* width: 100%; */
    /* border-collapse: collapse; */
    /* table-layout: fixed; */
    border: 3px solid #49c1e9;
    box-shadow: 5px 5px 15px #3fdab3;
    border-radius: 20px;
    overflow: hidden;
}

td {
    padding: 10px;
    border:#000000;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    background-color: rgb(237, 237, 237);
    color: rgb(19, 104, 179);
    border-radius: 15px;
    width: 25px;
    height: 25px;
}
.win {
    color: #c90808;
}

.videohead {
    padding-left: 525px;
    padding-right: 525px;
}

.formularhead {
    padding-left: 500px;
    padding-right: 500px;

}

.formstyle {
    /* align-items: left; */
    text-align: left;
    padding-left: 500px;

    }

    input {
        height: 25px;
        width: 300px;
    }

    textarea {
        height: 75px;
        width: 700px;
    }

    button {
        height: 50px;
        width: 350px;
        font-size: 25px;
        color:aliceblue;
        border: 3px solid rgb(61, 145, 173);
        background-color: #000000;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px #3fdab3;
        cursor: pointer;
    }

    button:hover {
        color: #f06b6b;
        box-shadow: 3px 3px 3px rgb(234, 96, 96);
        /* border: #000000; */
        border: 3px solid rgb(226, 92, 92);
    }
    
.buttonpos {
    padding-left: 200px;
}